<div class="row">
  <h1>The list of directors</h1>
</div>

<div class="row">
  <table class="directors-table table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Nationality</th>
      <th>City</th>
      <th>Date of Birth</th>
      <th>Age</th>
      <th>Blockbuster</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="director in directorsList" ng-click="showDetails(director.dob)">
      <td>{{$index + 1}}</td>
      <td>{{director.name}}</td>
      <td>{{director.sex}}</td>
      <td>{{director.nationality}}</td>
      <td>{{director.city}}</td>
      <td>{{director.dob | date:'dd/MM/yyyy'}}</td>
      <td>{{director.age}}</td>
      <td>{{director.blockbuster}}</td>
    </tr>
    </tbody>
  </table>
</div>
