<div class="row">
  <h1>The director's data</h1>
</div>

<div class="row">
  <table class="directors-table table table-striped table-hover">
    </thead>
    <tbody>
    <tr>
      <th>ID:</th>
      <td>{{directorId}}</td>
    </tr>
    <tr>
      <th>Name:</th>
      <td>{{directorData.name}}</td>
    </tr>
    <tr>
      <th>Sex:</th>
      <td>{{directorData.sex}}</td>
    </tr>
    <tr>
      <th>Nationality:</th>
      <td>{{directorData.nationality}}</td>
    </tr>
    <tr>
      <th>City:</th>
      <td>{{directorData.city}}</td>
    </tr>
    <tr>
      <th>Date of Birth:</th>
      <td>{{directorData.dob | date:'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <th>Age:</th>
      <td>{{directorData.age}}</td>
    </tr>
    <tr>
      <th>Blockbuster:</th>
      <td>{{directorData.blockbuster}}</td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" back-button>Back</button>
</div>
